<!DOCTYPE html>
<html>
    <head>
        <title>Allergen Determiner</title>
    </head>
    <body>
        <div class="container">
            <form action ="/results" method="post">
                <label for='input'>Enter your Allergen Score:</label>
                <input id="input" name="input" type="number">
                <br>
                <button type='submit'>Determine</button>
            </form>
        </div>
    </body>
</html>
